.main {
  position: relative;
  margin-top: 174px;
  width: 614px;
  height: 290;
  margin-left: 333px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  width: 231px;
  height: 24px;
  left: 524px;
  top: 261px;

  /* Nunito 18px Regular (H2) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -1.30385e-9px;

  color: #87898c;
}

.button {
  width: 121px;
  height: 20px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;
  letter-spacing: -1.30385e-9px;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
